%h2 Enter two twitter usernames
%form{ :id => "check",:method => "get", :action => "/check"}
	<div class="input-prepend"><span class="add-on">@</span><input id="leTxt1" type="text" name="user1" placeholder="eg: twitter" autofocus required x-webkit-speech/> <code>and</code>
	<span class="add-on" style="border-radius: 3px 0 0 3px">@</span><input id="leTxt2" type="text" name="user2" placeholder="eg: facebook" required x-webkit-speech/></div>
	%br/
	%small *Tip: Press the microphone icon in each text-field to use text-to-speech feature.
	%button{ :id => "goBtn", :type => "submit"}GO
.clearix
	/ %a.twitter-share-button{"data-hashtags" => "ruby", "data-via" => "vinhnx", :href => "https://twitter.com/share"} Tweet
	/ .g-plusone{"data-size" => "medium"}
	/ .fb-like{"data-font" => "lucida grande", "data-href" => "http://twitbuddy.herokuapp.com/", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "60"}
#shareme.sharrre{"data-text" => "Twit Buddy | Check if you two are (still) following each other. #ruby via @vinhnx", "data-url" => "http://twitbuddy.herokuapp.com/"}