%h2 Enter two twitter usernames
%form{ :id => "check",:method => "get", :action => "/check"}
	<div class="input-prepend"><span class="add-on">@</span><input id="leTxt1" type="text" name="user1" placeholder="eg: twitter" autofocus required x-webkit-speech/> <code>and</code>
	<span class="add-on" style="border-radius: 3px 0 0 3px">@</span><input id="leTxt2" type="text" name="user2" placeholder="eg: facebook" required x-webkit-speech/></div>
	%br/
	%small (*) <abbr title="Enable this feature, by typing chrome://flags/ in your chrome browser then --enable-speech-input flag">Press the microphone icon in each text-field to use text-to-speech feature.</abbr>
	%button{ :id => "goBtn", :type => "submit"}GO
.clearix
#shareme.sharrre{"data-text" => "Twit Buddy | Check if you two are (still) following each other. #ruby via @vinhnx", "data-url" => "http://twitbuddy.herokuapp.com/"}