/*--------------------
--- import stuffs ----
--------------------*/
@import "normalize";
@import "classes";

/*--------------------
------- define -------
--------------------*/

//base measurement
@percentage: 100%;
@em: 1em;

//color
@black: black;
@white: white;
@orange: hsl(45, 100%, 60%);
@hotPink: hsl(352, 78%, 49%);
@cream: lighten(@orange, 20%);
	// kuler pallate
		// rgba
		// @pl1: rgba(15,49,45,1);
		// @pl2: rgba(21.73,58,1);
		// @pl3: rgba(94,69,39,1);
		// @pl4: rgba(178,118,64,1);
		// @pl5: rgba(233,176,94,1);

		// hsl
		@pl1: hsl(34, 81%, 65%);
		@pl2: hsl(28, 47%, 47%);
		@pl3: hsl(33, 41%, 26%);
		@pl4: hsl(163, 55%, 18%);
		@pl5: hsl(173, 53%, 13%);

//font
@baseFontsize: 13px;
@font1: 'Fredoka One';
@font2: 'Pacifico';
@baseFontfam: 'Helvetica Neue', Helvetica, Arial, sans-serif;
/*--------------------
------- build -------
--------------------*/
* {
	.box-sizing(border-box);
	.transition-duration(.150s);
}

::-moz-selection { background: @cream; color: @black; text-shadow: none; }
::selection { background: @cream; color: @black; text-shadow: none; }
::-webkit-scrollbar {
    margin-right: 5px;
    background-color: #eee;
    width: 12px;
}
::-webkit-scrollbar-track {
    -webit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
}
::-webkit-scrollbar-thumb {
    border: 1px #eee solid;
    border-radius: 12px;
    background: #777;
    -webit-box-shadow: 0 0 8px #555 inset;
    box-shadow: 0 0 8px #555 inset;
    -webit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #bbb;
    box-shadow: 0 0 8px #999 inset;
}
::-webkit-scrollbar-thumb:hover { background: #999 }


html {
	text-rendering: optimizeLegibility;
	height: 100%;
	background: @pl5;
	overflow-x: hidden
}
body {
	width: 80%;
    margin: 0 auto;
	color: lighten(@black,100%);
	text-shadow: 0pt 2pt 0pt @black;
	font-size: @baseFontsize;
	font-family: @baseFontfam;
	line-height: @em + 0.5;
}

h1, h2 {
	text-transform: capitalize;
	color: @pl1;
	font-family: @font1;
}

blockquote {
	border-left: solid 3px @hotPink;
	padding-left: @em - 0.5;
	font-family: georgia, sans-serif;
	font-style: italic;
	color: darken(@white,20%);
}

a {
	text-decoration: none;
	color: @cream;
	&:hover {
		color: @pl2;
		.transition-duration(.5s);
	}
	&:not(#github):active {
		top: 1px;
		position: relative;
	}
}

header {
	text-align: center;
	padding: @em 0;
	line-height: 3em;
	h1 {
		a{
			color: @pl1;
			font-weight: 700;
			font-size: @em+1;
			text-transform: capitalize;
			font-family: @font1, @baseFontfam;
			text-shadow: 0 3pt 0 rgba(0, 0, 0,.8);
			&:hover{
				background: none;
				color: @pl2;
				border-bottom: none;
				text-shadow: 8px 8px 0 rgba(0, 0, 0,1);
			}
		}
		small{
			font-family: @font2, @baseFontfam;
			color: @cream;
		}
	}
}

nav {
	ul {
	padding: 1em 0;
	margin: 0;
		li {
			display: inline-block;
			margin-left: -4px;
			a {
				font-size: (@baseFontsize * 1.5);
				text-transform: uppercase;
				line-height: @em + 1;
				padding: (@em - 0.7) 1em;
				text-align: center;
				font-family: @font1;
				&:hover{
					background: none;
					color: @pl2;
				}
			}
		}
	}
}

footer {
	margin: 0 0 (@em+1) 0;
	line-height: @em;
	small{
		background: @black;
		text-transform: capitalize;
		font-family: @baseFontfam;
		text-align: center;
		text-shadow: 0pt 1pt 0pt @black;
	}
}


#main-container {
	>h2{
		font-family: @font2, @font1, @baseFontfam;
		font-size: @em+4;
		color: #eaeaea;
		line-height: 1.25em;
		margin: (@em/2.5);
	}	
	text-align: center;
	padding: @em;
	background: @pl4;
	height: auto;
	.border-radius(7px);
	.box-shadow(0, 0, 7px, @black);
}

#check {
	font-size: 2 * @percentage;
	#leTxt1, #leTxt2{
		outline: none;
		padding: 0.5em @em;
		border: solid 1px #ddd;
		height: 59px;
		box-shadow: inset 1px 1px 8px #adadad;
		border: solid 1px #aaa;
		border-left: none;
		background: #fcfcfc;
		.border-radius( 0 3px 3px 0);
		&:hover, &:focus, &:active{
			background: #fff;
			box-shadow: 0 0 11px @cream;
		}
	}

	#goBtn{
		margin: 0.3em 0 0 0;
		padding: (@em - 0.5) @em;
		width: 90%;
		border: none;
		font-size: @em + 1;
		background: @hotPink;
		color: @white;
		text-transform: uppercase;
		font-family: @font1, @baseFontfam;
		.border-radius();
		&:hover{
			background: darken(@hotPink, 10%);
			color: darken(@white, 10%)
		}
		&:active{
			.box-shadow(inset, 0, 0, 7px, #222);
			top: 1px;
			position: relative;
		}
	}
	small{ font-size: 50%;}
}

// Prepend Input - @
// -----------------
.input-prepend .add-on {
	margin: 0px;
	display: inline-block;
	width: 2.5em;
	height: 57px;
	min-width: 16px;
	padding: 15px 5px;
	font-weight: normal;
	line-height: 25px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	vertical-align: top;
	background-color: #eee;
	// border: 1px solid #ddd;
	color: #999;
	&:first-child {
		.border-radius(3px 0 0 3px);
	}
}
/*----------------------
---sharres.js styling - just plain copy & paste :\ --
----------------------*/
.sharrre .box{
	text-shadow: none;
    background:#6f838c;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#6f838c,0),color-stop(#4d5e66,1));
    background:-webkit-linear-gradient(top, #6f838c 0%, #4d5e66 100%);
    background:-moz-linear-gradient(top, #6f838c 0%, #4d5e66 100%);
    background:-o-linear-gradient(top, #6f838c 0%, #4d5e66 100%);
    background:linear-gradient(top, #6f838c 0%, #4d5e66 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f838c', endColorstr='#4d5e66',GradientType=0 );
    -webkit-box-shadow:0 1px 1px #d3d3d3;
    -moz-box-shadow:0 1px 1px #d3d3d3;
    box-shadow:0 1px 1px #d3d3d3;
    height:22px;
    display:inline-block;
    position:relative;
    padding:0px 55px 0 8px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    font-size:12px;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
  }
  .sharrre .left{
    line-height:22px;
    display:block;
    white-space:nowrap;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    color:#ffffff;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
  }
  .sharrre .middle{
    position:absolute;
    height:22px;
    top:0px;
    right:30px;
    width:0px;
    background:#63707e;
    text-shadow:0px -1px 1px #363f49;
    color:#fff;
    white-space:nowrap;
    text-align:left;
    overflow:hidden;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -webkit-transition:width 0.3s linear;
    -moz-transition:width 0.3s linear;
    -o-transition:width 0.3s linear;
    transition:width 0.3s linear;
  }
  .sharrre .middle a{
    color:#fff;
    font-weight:bold;
    padding:0 9px 0 9px;
    text-align:center;
    float:left;
    line-height:22px;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
  }
  .sharrre .right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:45px;
    text-align:center;
    line-height:22px;
    color:#4b5d61;
    background:#f1faf9;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#f1faf9,0),color-stop(#bacfd2,1));
    background:-webkit-linear-gradient(top, #f1faf9 0%, #bacfd2 100%);
    background:-moz-linear-gradient(top, #f1faf9 0%, #bacfd2 100%);
    background:-o-linear-gradient(top, #f1faf9 0%, #bacfd2 100%);
    background:linear-gradient(top, #f1faf9 0%, #bacfd2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1faf9', endColorstr='#bacfd2',GradientType=0 );
    border-radius: 0 3px 3px 0;
  }
  .sharrre .box:hover{
    padding-right:130px;
  }
  .sharrre .middle a:hover{
    text-decoration:none;
    background: #444
  }
  .sharrre .box:hover .middle{
    width:90px;
  }
.forkit {
	position: absolute;
	right: 0;
	top: 0;

	width: 200px;
	height: 150px;

	font-family: 'Lato', sans-serif;
	text-decoration: none;
	.tag {
		display: block;
		height: 30px;
		width: 200px;

		color: #fff;
		background: #aa0000;
		text-align: center;
		font-size: 13px;
		font-weight: bold;
		line-height: 30px;
		box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );

		-webkit-transform-origin: 15px 0px;
		   -moz-transform-origin: 15px 0px;
		    -ms-transform-origin: 15px 0px;
		     -o-transform-origin: 15px 0px;
		        transform-origin: 15px 0px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 196px;
			height: 26px;
			margin: 1px;
			border: 1px solid rgba( 255, 255, 255, 0.4 );
		}
	}
	.string {
		display: block;
		height: 1px;
		width: 0px;
		position: absolute;

		background: rgba( 255, 255, 255, 0.7 );
		box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );
		-webkit-transform-origin: 0px 0px;
		   -moz-transform-origin: 0px 0px;
		    -ms-transform-origin: 0px 0px;
		     -o-transform-origin: 0px 0px;
		        transform-origin: 0px 0px;
	}
}

.forkit-curtain {
	.transition-duration(0);
	position: absolute;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	padding: 1em 30%;
	background: rgba( 0, 0, 0, 0.8 );
	// background: rgba(255,255,255,1);
	.close-button {
		position: absolute;
		right: 2em;
		top: 1em;
		font-weight: boldest;
		&:hover {
			cursor: pointer;
		}
	}
}

#repo {
  text-shadow: none;
  margin: 3em 0;
}

#repo h1 a.active, #repo h1 a.active:active, #repo h1 a.active:visited, #repo h1 a.active:hover {
	color: #fff;
}

.gh {
  background:rgb(30, 117, 170) url("../img/octocat-small.png") no-repeat left center;
  background-position: 2.5em;
  vertical-align: middle;
  border: 1px solid rgb(19, 89, 132);
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 #333;
  text-align: center;
  padding: 1em 4em;
  margin: 1em 15%;
  font-size: 20px;
  line-height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  &:hover {
    -webkit-opacity: .9;
    -moz-opacity: .9;
    -o-opacity: .9;
    opacity: .9;
    background:rgb(25, 113, 168) url("../img/octocat-small.png") no-repeat left center;
    // box-shadow: 0 0 20px rgb(119, 203, 255);
    border: solid 1px rgb(19, 89, 132);
    background-position: 2.5em;
  }
  &:active {
    position: relative;
    top: 1px;
    -webkit-box-shadow: inset 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
  }
}
/*--------------------
---- media queries ---
--------------------*/
@media only screen and (max-width: 480px) {
	#title{
		font-size: 120%;

	}
	header {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	#check {
		font-size: 70%;
		#leTxt1, #leTxt2{
			margin: 0 0 (@em / 2) 0;
		}
	}
	#goBtn{
		height: 20%;
	}
	.input-prepend .add-on, .input-prepend .btn {
		height: 5px;
		line-height: 5px;
	}
	#check {
		#leTxt1, #leTxt2 {
			height: 31px;
			width: 90%;
		}
		#leTxt2 {
			width:80%;
		}
	}
}

@media only screen and (min-width: 480px) {
	#check {
		font-size: 90%;
		#leTxt1, #leTxt2{
			margin: 0 0 (@em / 2) 0;
		}
	}
	.input-prepend .add-on, .input-prepend .btn {
		height: 35px;
		line-height: 10px;
	}
	.input-prepend {
		margin-left: -.5em;
	}
	#check {
		#leTxt1, #leTxt2 {
			height: 35px;
			width: 35%;
		}
	}
}
@media only screen and (min-width: 600px) {
	.input-prepend .add-on, .input-prepend .btn {
		height: 45px;
		line-height: 20px;
	}
	#check {
		#leTxt1, #leTxt2 {
			height: 45.5px;
		}
	}
}
@media only screen and (min-width: 758px) {
	.input-prepend .add-on, .input-prepend .btn {
		height: 61.4px;
		line-height: 27px;
	}
	#check {
		font-size: 140%;
		margin: 0 0 (@em / 2) 0;
		#leTxt1, #leTxt2 {
			height: 61px;
		}
	}
}

@media only screen and (min-width: 1140px) {
	#check {
		font-size: 200%;
		#leTxt1, #leTxt2{
			margin: 0 0 (@em / 2) 0;
		}
	}
}